In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

def create_spark_session():
    spark = SparkSession.builder \
        .appName("KullaniciVeriAnalizi") \
        .master("local[*]") \
        .getOrCreate()
    print("âœ… Spark oturumu baÅŸlatÄ±ldÄ±. SÃ¼rÃ¼m:", spark.version)
    return spark

def read_parquet_file(spark, path="kullanici_verileri.parquet"):
    df = spark.read.parquet(path)
    df = df.withColumn("dob", to_timestamp("dob"))
    df = df.withColumn("registered", to_timestamp("registered"))
    df = df.withColumn("yas", datediff(current_date(), col("dob")) / 365.25)
    df = df.withColumn("kullanim_suresi", datediff(current_date(), col("registered")))
    df.createOrReplaceTempView("kullanicilar")
    return df

def question_1_dataframe_api(df):
    df.groupBy("gender").agg(
        round(avg("yas"), 2).alias("ortalama_yas"),
        round(avg("kullanim_suresi"), 2).alias("ortalama_kullanim_suresi")
    ).show()

def question_1_spark_sql():
    spark.sql("""
        SELECT
            gender,
            ROUND(AVG(yas), 2) AS ortalama_yas,
            ROUND(AVG(kullanim_suresi), 2) AS ortalama_kullanim_suresi
        FROM kullanicilar
        GROUP BY gender
    """).show()

def question_2_dataframe_api(df):
    df.groupBy("country", "gender").agg(
        round(avg("yas"), 2).alias("ortalama_yas"),
        round(avg("kullanim_suresi"), 2).alias("ortalama_kullanim_suresi")
    ).orderBy("country", "gender").show(20, truncate=False)

def question_2_spark_sql():
    spark.sql("""
        SELECT
            country,
            gender,
            ROUND(AVG(yas), 2) AS ortalama_yas,
            ROUND(AVG(kullanim_suresi), 2) AS ortalama_kullanim_suresi
        FROM kullanicilar
        GROUP BY country, gender
        ORDER BY country, gender
    """).show()

def question_3_dataframe_api(df):
    pencere = Window.partitionBy("country", "gender").orderBy(col("yas").desc())
    df_sirali = df.withColumn("sira", dense_rank().over(pencere))
    en_yaslilar_df = df_sirali.filter(col("sira") <= 3)
    en_yaslilar_df.select("country", "gender", "name", "yas", "sira") \
        .orderBy("country", "gender", "sira") \
        .show(18, truncate=False)

def question_3_spark_sql():
    spark.sql("""
        SELECT *
        FROM (
            SELECT
                country,
                gender,
                name,
                yas,
                DENSE_RANK() OVER (PARTITION BY country, gender ORDER BY yas DESC) AS sira
            FROM kullanicilar
        ) alt_tablo
        WHERE sira <= 3
        ORDER BY country, gender, sira
    """).show(18, truncate=False)

if __name__ == "__main__":
    spark = create_spark_session()
    df = read_parquet_file(spark)
    print("\nðŸ“Œ Soru 1 - DataFrame API")
    question_1_dataframe_api(df)
    print("\nðŸ“Œ Soru 1 - Spark SQL")
    question_1_spark_sql()
    print("\nðŸ“Œ Soru 2 - DataFrame API")
    question_2_dataframe_api(df)
    print("\nðŸ“Œ Soru 2 - Spark SQL")
    question_2_spark_sql()
    print("\nðŸ“Œ Soru 3 - DataFrame API")
    question_3_dataframe_api(df)
    print("\nðŸ“Œ Soru 3 - Spark SQL")
    question_3_spark_sql()

    spark.stop()

âœ… Spark oturumu baÅŸlatÄ±ldÄ±. SÃ¼rÃ¼m: 3.5.4

ðŸ“Œ Soru 1 - DataFrame API
+------+------------+------------------------+
|gender|ortalama_yas|ortalama_kullanim_suresi|
+------+------------+------------------------+
|female|       50.37|                 4668.55|
|  male|       52.99|                 4757.53|
+------+------------+------------------------+


ðŸ“Œ Soru 1 - Spark SQL
+------+------------+------------------------+
|gender|ortalama_yas|ortalama_kullanim_suresi|
+------+------------+------------------------+
|female|       50.37|                 4668.55|
|  male|       52.99|                 4757.53|
+------+------------+------------------------+


ðŸ“Œ Soru 2 - DataFrame API
+---------+------+------------+------------------------+
|country  |gender|ortalama_yas|ortalama_kullanim_suresi|
+---------+------+------------+------------------------+
|Australia|female|60.34       |4666.4                  |
|Australia|male  |51.64       |5382.2                  |
|Brazil   |female|50.57       |3998.17                 |
|Brazil   |male  |52.51       |4535.25                 |
|Canada   |female|45.47       |5103.45                 |
|Canada   |male  |63.08       |5349.11                 |
|Denmark  |female|50.88       |3987.42                 |
|Denmark  |male  |59.01       |4296.64                 |
|Finland  |female|44.44       |5685.63                 |
|Finland  |male  |54.49       |3288.67                 |
|France   |female|66.27       |5367.67                 |
|France   |male  |48.41       |4197.69                 |
|Germany  |female|42.46       |3621.5                  |
|Germany  |male  |66.2        |4068.71                 |
|India    |female|53.23       |4274.0                  |
|India    |male  |51.92       |6592.67                 |
|Iran     |female|51.56       |4594.71                 |
|Iran     |male  |53.88       |4902.75                 |
|Ireland  |female|48.14       |4587.29                 |
|Ireland  |male  |50.23       |5467.36                 |
+---------+------+------------+------------------------+
only showing top 20 rows


ðŸ“Œ Soru 2 - Spark SQL
+---------+------+------------+------------------------+
|  country|gender|ortalama_yas|ortalama_kullanim_suresi|
+---------+------+------------+------------------------+
|Australia|female|       60.34|                  4666.4|
|Australia|  male|       51.64|                  5382.2|
|   Brazil|female|       50.57|                 3998.17|
|   Brazil|  male|       52.51|                 4535.25|
|   Canada|female|       45.47|                 5103.45|
|   Canada|  male|       63.08|                 5349.11|
|  Denmark|female|       50.88|                 3987.42|
|  Denmark|  male|       59.01|                 4296.64|
|  Finland|female|       44.44|                 5685.63|
|  Finland|  male|       54.49|                 3288.67|
|   France|female|       66.27|                 5367.67|
|   France|  male|       48.41|                 4197.69|
|  Germany|female|       42.46|                  3621.5|
|  Germany|  male|        66.2|                 4068.71|
|    India|female|       53.23|                  4274.0|
|    India|  male|       51.92|                 6592.67|
|     Iran|female|       51.56|                 4594.71|
|     Iran|  male|       53.88|                 4902.75|
|  Ireland|female|       48.14|                 4587.29|
|  Ireland|  male|       50.23|                 5467.36|
+---------+------+------------+------------------------+
only showing top 20 rows


ðŸ“Œ Soru 3 - DataFrame API
+---------+------+--------------------+-----------------+----+
|country  |gender|name                |yas              |sira|
+---------+------+--------------------+-----------------+----+
|Australia|female|Marie Ferguson      |70.89938398357289|1   |
|Australia|female|Olivia Bell         |67.85215605749487|2   |
|Australia|female|Leona Ford          |66.85284052019165|3   |
|Australia|male  |Sergio Fisher       |65.95482546201232|1   |
|Australia|male  |Virgil Barrett      |57.14715947980835|2   |
|Australia|male  |Tomothy Wallace     |56.24640657084189|3   |
|Brazil   |female|Enedina Sales       |61.84804928131417|1   |
|Brazil   |female|Eva Monteiro        |58.70225872689939|2   |
|Brazil   |female|Ingra Lopes         |56.96098562628337|3   |
|Brazil   |male  |GervÃ¡sio Viana      |78.97604380561259|1   |
|Brazil   |male  |Aureliano FogaÃ§a    |72.9883641341547 |2   |
|Brazil   |male  |Ernesto da ConceiÃ§Ã£o|71.72073921971253|3   |
|Canada   |female|Emily Gagnon        |74.05065023956195|1   |
|Canada   |female|Laurie Lavoie       |70.38193018480493|2   |
|Canada   |female|Mia Lavoie          |48.26830937713895|3   |
|Canada   |male  |Xavier Mitchell     |74.9596167008898 |1   |
|Canada   |male  |Dominic Bouchard    |73.14989733059548|2   |
|Canada   |male  |Leo Taylor          |72.99110198494182|3   |
+---------+------+--------------------+-----------------+----+
only showing top 18 rows


ðŸ“Œ Soru 3 - Spark SQL
+---------+------+--------------------+-----------------+----+
|country  |gender|name                |yas              |sira|
+---------+------+--------------------+-----------------+----+
|Australia|female|Marie Ferguson      |70.89938398357289|1   |
|Australia|female|Olivia Bell         |67.85215605749487|2   |
|Australia|female|Leona Ford          |66.85284052019165|3   |
|Australia|male  |Sergio Fisher       |65.95482546201232|1   |
|Australia|male  |Virgil Barrett      |57.14715947980835|2   |
|Australia|male  |Tomothy Wallace     |56.24640657084189|3   |
|Brazil   |female|Enedina Sales       |61.84804928131417|1   |
|Brazil   |female|Eva Monteiro        |58.70225872689939|2   |
|Brazil   |female|Ingra Lopes         |56.96098562628337|3   |
|Brazil   |male  |GervÃ¡sio Viana      |78.97604380561259|1   |
|Brazil   |male  |Aureliano FogaÃ§a    |72.9883641341547 |2   |
|Brazil   |male  |Ernesto da ConceiÃ§Ã£o|71.72073921971253|3   |
|Canada   |female|Emily Gagnon        |74.05065023956195|1   |
|Canada   |female|Laurie Lavoie       |70.38193018480493|2   |
|Canada   |female|Mia Lavoie          |48.26830937713895|3   |
|Canada   |male  |Xavier Mitchell     |74.9596167008898 |1   |
|Canada   |male  |Dominic Bouchard    |73.14989733059548|2   |
|Canada   |male  |Leo Taylor          |72.99110198494182|3   |
+---------+------+--------------------+-----------------+----+
only showing top 18 rows